<h2>Get Electrum Master Public Key</h2>
<p>In order to get your balance, you have to copy-paste your Public Master Key (mpk) from your electrum software, you can find it in menu Wallet:</p>
<p class="text-center"><img src="images/mpk-menu.png" class="img-thumbnail"></p>
<p>And then copy the text format of your mpk, and paste into the search form of cloudtrum</p>
<p class="text-center"><img src="images/mpk-dialog.png" class="img-thumbnail"></p>


<h2>Disclaimer</h2>
<p>The information contained in this website is for general information purposes only. The information is provided by us (cloudtrum.fabio.rueda.guru) and while we strive to keep the information up-to-date and correct, we make no representations or warranties of any kind, expressed or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>

<p>In no event will we be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with the use of this website.</p>

<p>Through this website you are able to link to other websites which are not under the control of us (cloudtrum.fabio.rueda.guru). We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorsing the views expressed within them.</p>

<p>Every effort is made to keep the website up and running smoothly. However, we (cloudtrum.fabio.rueda.guru) take no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>

<p>We (cloudtrum.fabio.rueda.guru) take no responsibility for and will not be liable for any financial loss arising from the use of our services.</p>

<p>We (cloudtrum.fabio.rueda.guru) do not pretend to be a bank or a regulated financial institution. Any Bitcoins stored using our wallets are not in our (cloudtrum.fabio.rueda.guru)'s control, we simply provide an interface to access them. We (cloudtrum.fabio.rueda.guru) do not have control over or take any responsibility for any transactions made through our wallet service.</p>

<p>Any use of the term Money on this website refers to virtual currency only. Bitcoins are credit vouchers of which we (cloudtrum.fabio.rueda.guru) are not the issuer. We (cloudtrum.fabio.rueda.guru) make no guarantees that bitcoins can be redeemed at the purchase price. Any exchange rates displayed are provided by 3rd party services and are not indicative of the Bitcoin being backed by any commodity or other form of money or having any other tangible value at all.</p>
