
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Get the balance and used addresses of a HD wallet</h3>
  </div>
  <div class="panel-body"> 
    <div class="form-group">
      <label for="exampleInputEmail1">Paste your electrum mpk <a ng-href="#/about"> (Where you can find it)</a></label>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}<a ng-href="#/about"> (Where you can find it)</a></alert>
      <textarea class="form-control" rows="2" ng-model="mpk"></textarea>
    </div>

    <button type="button" class="btn btn-default" ng-click="new_mpk(mpk)">Submit</button>
  </div>
</div>


<div class="jumbotron">
  <img src="images/balance-example.png" class="img-responsive">
</div>
